<div id="list-symptoms">
<h2>Here's your symptom log:</h2>
<ul>
<% @symptoms.each do | symptom | %>
  <li>Symptom: <%= symptom.symptom_name %></li>
  <li>Date: <%= symptom.created_at %></li>
  <li>Severity: <%= symptom.severity %></li>
  <li>Notes: <%= symptom.notes %></li>
  <li><a href="/symptoms/<%= symptom.id %>">Edit / Delete</a></li><br>
<% end %>
</ul>
</div>
