<div id="list-symptoms">
<h2>Here's your symptom log:</h2>

<% @symptoms.each do | symptom | %>
<p><a href="/symptoms/<%= symptom.id %>" class="symptom-name">* <%= symptom.symptom_name %></a></p>
<ul class="symptom-details">
  <li>Date: <%= symptom.created_at %></li>
  <li>Severity: <%= symptom.severity %></li>
  <li>Notes: <%= symptom.notes %></li>
  <li class="edit-delete"><a href="/symptoms/<%= symptom.id %>">Edit / Delete</a></li>
</ul>
<% end %>

</div>
